---
import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const portrait = {
  img: "/assets/portrait.jpg",
  img_alt: "Portrait picture of me in office with indoor plants in background.",
};
---

<section class="wrapper">
  <header>
    <a id="about"><h2>{i18n.about.h2}</h2></a>
  </header>
  <div class="about">
    <img
      class="portrait"
      src={portrait.img}
      alt={portrait.img_alt || ""}
      loading="lazy"
      decoding="async"
    />
    <div class="bio">
      <h3>{i18n.about.bio.h3}</h3>
      <div class="content">
        <p>{i18n.about.bio.paragraph1}</p>
        <p>{i18n.about.bio.paragraph2}</p>
      </div>
    </div>
    <div class="experience">
      <h3>{i18n.about.experience.h3}</h3>
      <ul class="experiences">
        {
          i18n.about.experience.experiences.map((exp) => (
            <li class="experience-item">
              <h4>{exp.company}</h4>
              <aside>
                <div class="role">{exp.role}</div>
                <div class="dates">{exp.dates}</div>
              </aside>
              <p>{exp.paragraph}</p>
              <ul class="tags">
                {exp.tags.map((tag) => (
                  <li class="tag">{tag}</li>
                ))}
              </ul>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="skills">
      <h3>{i18n.about.skills.h3}</h3>
      <ul>
        {i18n.about.skills.currentlyOffering.map((skill) => <li>{skill}</li>)}
      </ul>
    </div>
    <div class="education">
      <h3>{i18n.about.education.h3}</h3>
      <ul>
        {
          i18n.about.education.degrees.map((deg) => (
            <li>
              <h4>{deg.title}</h4>
              <aside>
                <span class="institution">{deg.institution}</span>
                <span class="dates">{deg.dates}</span>
              </aside>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="cta">
    {i18n.about.cta.text}<a href="#download"> {i18n.about.cta.link}</a>
  </div>
</section>

<style>
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 5);
    grid-template-areas:
      "portrait-img"
      "bio"
      "experience"
      "skills"
      "education";
    gap: 3rem;
    font-size: var(--text-sm);
  }

  h2 {
    margin-bottom: 5rem;
    font-size: var(--text-3xl);
  }

  h3 {
    margin-bottom: 2.5rem;
    color: var(--color-text-1);
    letter-spacing: 0.125rem;
    font-size: var(--text-md);
  }

  h4 {
    color: var(--color-text-3);
    letter-spacing: 0.075rem;
    font-weight: 700;
    font-size: var(--text-lg);
    text-transform: capitalize;
  }

  h3,
  h4 {
    /* font-size: var(--text-md); */
  }

  aside {
    display: flex;
    justify-content: space-between;
    /* font-size: var(--text-sm); */
  }

  p {
    color: var(--color-text-2);
  }
  .experiences {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .experience-item {
    display: flex;
    flex-direction: column;
    /* gap: 0.05rem; */
  }

  .experience p {
    margin-top: 0.25rem;
  }

  .role,
  .institution {
    color: var(--color-text-1);
    text-transform: capitalize;
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: var(--text-md);
    font-family: var(--font-brand);
    letter-spacing: 0.05rem;
  }

  .dates {
    color: var(--color-text-1);
    text-transform: capitalize;
    margin: auto 0;
    /* font-family: var(--font-brand);
    letter-spacing: 0.025rem; */
    /* font-weight: 300;
    font-family: var(--font-body); */
    /* text-transform: uppercase; */
    /* font-size: var(--text-md); */
  }

  .tags {
    margin-top: 0.25rem;
    display: inline-flex;
    gap: 0.35rem;
    flex-wrap: wrap;
  }

  .tag {
    text-transform: capitalize;
    /* font-weight: 600; */
    color: var(--color-text-3);
  }

  .tag:first-child::before {
    content: "⎯⎯";
    margin-right: 0.25rem;
  }

  .tag:before {
    content: "⦁";
    margin-right: 0.25rem;
  }

  .portrait {
    grid-area: portrait-img;
  }

  .bio {
    grid-area: bio;
  }

  .bio .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .experience {
    grid-area: experience;
  }

  .skills {
    grid-area: skills;
  }

  .education {
    grid-area: education;
  }

  .cta {
    margin-top: 4rem;
    margin-bottom: 8rem;
    text-align: end;
    font-size: var(--text-sm);
    color: var(--color-text-1);
  }

  .cta a {
    font-family: var(--font-body);
    /* font-weight: 500; */
  }

  @media (min-width: 35em) {
    .about {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(auto, 4);
      grid-template-areas:
        "portrait-img bio"
        "experience experience"
        "education education"
        "skills skills";
    }
  }

  @media (min-width: 50em) {
    .about {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(auto, 3);
      grid-template-areas:
        "portrait-img bio"
        "education experience"
        "skills experience";
    }
  }

  @media (min-width: 70em) {
    .about {
      grid-template-columns: 3fr 4fr 5fr;
      grid-template-rows: repeat(auto, 2);
      grid-template-areas:
        "portrait-img bio experience"
        "skills education experience";
    }
  }
</style>
