---
import Icon from '../components/Icon.astro'
import { getI18N } from '../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header class="container flex flex-col gap-12">
	<h1
		class="title items-center pb-6 pt-16 text-center text-5xl font-bold uppercase tracking-normal text-stone-800 md:pb-44 md:pt-56 md:text-9xl dark:text-orange-50"
	>
		{i18n.hero.h1.start}
		<span class="block"></span>
		<span class="text-11xl leading-[0.7]">{i18n.hero.h1.middle}</span>
		<span class="block"></span>
		<span class="text-9xl leading-3">{i18n.hero.h1.end}</span>
	</h1>
	<aside class="flex flex-col gap-2 py-2 text-start font-normal">
		<p
			class="ml-1 flex items-center gap-2 text-base font-medium text-stone-500 before:size-4 before:rounded-full before:bg-lime-500 dark:text-stone-500"
		>
			{i18n.hero.aside.availableFor}
		</p>
		<div class="flex flex-col gap-8 md:flex-row md:justify-between">
			<div class="flex flex-wrap items-start justify-start gap-4">
				{
					i18n.hero.aside.services.map((service) => (
						<div class="flex items-center gap-1 whitespace-nowrap font-brand text-2xl font-medium uppercase tracking-wide text-stone-500 dark:text-stone-600">
							<Icon icon={service.icon} size="1em" />
							<span class="block h-6 align-text-top leading-[1.2]">{service.label}</span>
						</div>
					))
				}
			</div>

			<div
				class="text-base tracking-normal after:mt-2 after:inline-block after:h-8 after:w-1/2 after:border-r after:border-solid after:border-stone-500"
			>
				<span class="text-stone-400">{i18n.hero.recentProjects}</span>
				<a class="text-stone-100" href="#projects">
					<strong>{i18n.hero.recentProjectsLink}</strong>
				</a>
			</div>
		</div>
	</aside>
</header>

<style>
	/* GRADIENT ON TEXT */
	.title {
		background-image: radial-gradient(
			ellipse 50% 90% at 50% 20%,
			var(--font-color-5),
			var(--font-color-1)
		);
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;
	}
</style>
