---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { data, slug } = Astro.props.project;

const [, projectSlug] = slug.split("/");
---

<article class="card">
  <img
    src={data.img}
    alt={data.img_alt || ""}
    loading="lazy"
    decoding="async"
  />
  <div class="wrapper">
    <div class="content">
      <aside>{data.subtitle}</aside>
      <h3>{data.title}</h3>
      <p>{data.description}</p>
      <a href={`projects/${projectSlug}`}>View Case Study</a>
    </div>
  </div>
</article>

<style>
  .card {
    position: relative;
    height: 37rem;
    display: flex;
    /* align-items: center; */
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .card::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background: rgb(24, 24, 24);
    background: linear-gradient(
      90deg,
      rgba(24, 24, 24, 0.7) 0%,
      rgba(24, 24, 24, 0.5) 50%,
      rgba(24, 24, 24, 0.1) 100%
    ); */

    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .content {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
  }

  .content aside {
    /* font-size: var(--text-lg); */
    text-transform: uppercase;
    color: var(--font-color-2);
    font-size: 14px;
    line-height: 0.92;
    letter-spacing: 0.2rem;
    font-weight: 700;
    font-family: var(--font-family-brand);
  }

  .content h3 {
    font-size: var(--font-size-8);
    text-transform: uppercase;
    color: var(--font-color-5);
    /* font-family: var(--font-brand); */
    line-height: 0.92;
    font-weight: 600;
  }

  .content p {
    color: var(--font-color-3);
  }

  .content a {
    display: flex;
    color: var(--link-color);
    /* font-family: var(--font-brand); */
    text-align: center;
    border: 0.1rem solid var(--link-color);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

    max-width: 12rem;
    padding: 0.75rem 1rem;
    letter-spacing: 2px;
    font-size: var(--font-size-2);
  }
</style>
