---
import type { CollectionEntry } from 'astro:content'
import Icon from './Icon.astro'
import { fade } from 'astro:transitions'

interface Props {
	project: CollectionEntry<'project'>
}

const { data, slug } = Astro.props.project

const [, projectSlug] = slug.split('/')
---

<article class="flex flex-col gap-4" transition:name={`${projectSlug}-card`}>
	<img
		src={data.img}
		alt={data.img_alt || ''}
		loading="lazy"
		decoding="async"
		class="aspect-video size-full object-cover"
		transition:name={`${projectSlug}-card-bg-img`}
	/>
	<div class="flex flex-row justify-between text-xl font-bold">
		<div class="capitalize">
			<span>{data.title}</span>
			<span class="font-light">{data.role}</span>
		</div>
		<div class="uppercase">{data.period}</div>
	</div>
</article>
