---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { data, slug } = Astro.props.project;

const [, projectSlug] = slug.split("/");
---

<article class="card">
  <img
    src={data.img}
    alt={data.img_alt || ""}
    loading="lazy"
    decoding="async"
  />
  <div class="wrapper">
    <div class="content">
      <aside>{data.subtitle}</aside>
      <h3>{data.title}</h3>
      <p>{data.description}</p>
      <a href={`projects/${projectSlug}`}>View Case Study</a>
    </div>
  </div>
</article>

<style>
  .card {
    position: relative;
    height: var(--space-15);
    display: flex;
  }

  .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .card::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* TODO: Improve this gradient */
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .content {
    width: var(--space-13);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-5);
  }

  .content aside {
    text-transform: uppercase;
    color: var(--font-color-2);
    font-size: var(--font-size-2);
    /* line-height: 0.92; */
    letter-spacing: var(--font-letter-spacing-4);
    font-weight: var(--font-weight-5);
    font-family: var(--font-family-brand);
  }

  .content h3 {
    font-size: var(--font-size-8);
    text-transform: uppercase;
    color: var(--font-color-5);
    line-height: var(--font-line-height-1);
    font-weight: var(--font-weight-4);
  }

  .content p {
    color: var(--font-color-3);
  }

  .content a {
    display: flex;
    color: var(--link-color-1);
    /* font-family: var(--font-brand); */
    text-align: center;
    border: var(--border-width-1) solid var(--link-color-1);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

    max-width: var(--space-11);
    padding: var(--space-3) var(--space-4);
    letter-spacing: var(--font-letter-spacing-4);
    font-size: var(--font-size-2);
  }
</style>
