---
import { getI18N } from '../../../../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const portrait = {
	img: '/assets/portrait-1280.webp',
	img_alt: 'Portrait picture of me in black and white.'
}
---

<section class="container">
	<header>
		<a id="about"
			><h2
				class="text-start text-7xl font-medium leading-20 tracking-tighter text-stone-800 md:text-9xl md:leading-27 dark:text-stone-400"
			>
				<span class="inline-block">{i18n.about.h2.start}</span>
				<span class="block"></span>
				<span class="inline-block">{i18n.about.h2.end}</span>
			</h2></a
		>
	</header>
	<div class="mt-44 grid grid-cols-3 grid-rows-2 lg:gap-x-28 lg:gap-y-12">
		<img
			class="row-span-2"
			src={portrait.img}
			alt={portrait.img_alt || ''}
			loading="lazy"
			decoding="async"
		/>
		<div>
			<h3 class="text-xl font-bold">{i18n.about.bio.h3}</h3><p>{i18n.about.bio.paragraph}</p>
		</div>
		<div>
			<h3 class="text-xl font-bold">{i18n.about.technologies.h3}</h3><p>
				{i18n.about.technologies.list.join(', ')}
			</p>
		</div>
		<div class="flex flex-col gap-1">
			<h3 class="text-xl font-bold">{i18n.about.education.h3}</h3>
			<span class="font-light"
				>{`${i18n.about.education.degree} · ${i18n.about.education.dates}`}</span
			>
			<p>{i18n.about.education.paragraph}</p>
		</div>
		<div>
			<h3 class="text-xl font-bold">{i18n.about.technologies.h3}</h3><ul>
				{i18n.about.services.list.map((service) => <li>{service}</li>)}
			</ul>
		</div>
	</div>
</section>
