---
import { getI18N } from '../../../../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale }).home
const portrait = {
	img: '/assets/portrait-1280.webp',
	img_alt: 'Portrait picture of me in black and white.'
}
---

<section class="container py-16 lg:py-32">
	<header>
		<a id="about"
			><h2
				class="text-start text-[clamp(3rem,7.75vw,8rem)] leading-[.85em] font-light tracking-tighter"
			>
				<span>{i18n.about.h2['1']}</span>
				<span class="tracking-tightest font-medium">{i18n.about.h2['2']}</span>
				<span class="inline sm:block">{i18n.about.h2['3']}</span>
			</h2></a
		>
	</header>
	<div
		class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:mt-32 xl:grid-cols-3 2xl:gap-x-8"
	>
		<img
			class="row-span-2 lg:pr-29 xl:pr-0 2xl:pr-18"
			src={portrait.img}
			alt={portrait.img_alt || ''}
			loading="lazy"
			decoding="async"
		/>
		<div class="flex flex-col gap-4 lg:pr-29 xl:pr-0 2xl:pr-18">
			<p class="text-2xl font-medium">{i18n.about.bio.p1}</p>
			<p class="text-base leading-7 lg:text-lg">{i18n.about.bio.p2}</p>
			<p class="text-base leading-7 lg:text-lg">{i18n.about.bio.p3}</p>
			<div class="flex flex-col gap-1">
				<div>
					<h3 class="text-xl leading-5 font-semibold tracking-tight lg:text-2xl lg:leading-7">
						{i18n.about.education.h3}
					</h3>
					<span class="text-sm font-medium text-stone-400 lg:text-base dark:text-stone-700"
						>{`${i18n.about.education.degree} · ${i18n.about.education.dates}`}</span
					>
				</div>
				<p class="text-base leading-7 lg:text-lg">{i18n.about.education.paragraph}</p>
			</div>
		</div>
		<div class="lg:pr-29 xl:pr-0 2xl:pr-18">
			<h3 class="mb-4 text-2xl font-bold">{i18n.about.technologies.h3}</h3>
			<p class="text-base leading-7 lg:text-lg">
				{i18n.about.technologies.list.join(', ')}
			</p>
			<h3 class="mt-10 mb-4 text-2xl font-bold">{i18n.about.services.h3}</h3>
			<ul class="text-base leading-7 lg:text-lg">
				{i18n.about.services.list.map((service) => <li>{service}</li>)}
			</ul>
		</div>
	</div>
	<div class="mt-24 flex justify-end">
		<span class="mr-1 font-light">{i18n.about.cta.question}</span>
		<a href={`#downloadresume`} class="font-semibold underline">{i18n.about.cta.link}</a>
	</div>
</section>
