---
import { getI18N } from '../../../../i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="container mb-64">
	<header>
		<a id="experiences"
			><h2
				class="text-start text-7xl font-medium leading-20 tracking-tighter text-stone-800 md:text-9xl md:leading-27 dark:text-stone-400"
			>
				<span class="inline-block">{i18n.experience.h2.start}</span>
				<span class="block"></span>
				<span class="inline-block">{i18n.experience.h2.middle}</span>
				<span class="block"></span>
				<span class="inline-block">{i18n.experience.h2.end}</span>
			</h2></a
		>
	</header>
	<div class="mt-32 flex items-end justify-between">
		<div class="flex max-w-prose flex-col gap-6">
			{
				i18n.experience.experiences.map((experience) => (
					<div class="flex flex-col gap-1">
						<h3 class="text-xl font-bold">{experience.company}</h3>
						<span class="font-light">{`${experience.role} · ${experience.dates}`}</span>
						<p>{experience.paragraph}</p>
					</div>
				))
			}
		</div>
		<div class="sticky bottom-10">
			<span class="mr-1 font-light text-stone-500">{i18n.experience.cta.question}</span>
			<a href={`#downloadresume`} class="font-semibold text-stone-500 underline"
				>{i18n.experience.cta.link}</a
			>
		</div>
	</div>
</section>
