---
import { getI18N } from '../../../../i18n'

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale }).home
---

<section class="container py-24 lg:py-32">
	<header>
		<a id="experience"
			><h2 class="text-start text-[clamp(3rem,7.5vw,8rem)] leading-[.8em] font-semibold">
				<span class="tracking-tightest block">{i18n.experience.h2['1']}</span>
				<span class="inline tracking-tighter sm:block">{i18n.experience.h2['2']}</span>
				<span class="tracking-tighter">{i18n.experience.h2['3']}</span>
			</h2></a
		>
	</header>
	<div class="mt-16 lg:mt-32">
		<div class="mb-20 flex max-w-prose flex-col gap-y-12">
			{
				i18n.experience.experiences.map((experience) => (
					<div class="flex flex-col gap-1">
						<div>
							<h3 class="text-xl leading-5 font-semibold tracking-tight lg:text-2xl lg:leading-7">
								{experience.company}
							</h3>
							<span class="text-sm font-medium text-stone-400 lg:text-base dark:text-stone-700">{`${experience.role} · ${experience.dates}`}</span>
						</div>
						<p class="text-base leading-7 lg:text-lg">{experience.paragraph}</p>
					</div>
				))
			}
		</div>
		<div class="sticky bottom-0 bg-stone-100 py-4 text-end dark:bg-stone-950">
			<span class="mr-1 font-light">{i18n.experience.cta.question}</span>
			<a href={`#downloadresume`} class="font-semibold underline">{i18n.experience.cta.link}</a>
		</div>
	</div>
</section>
