---
import { getLangFromUrl } from '../../../../i18n/utils'
import { getI18N } from '../../../../i18n'
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale }).home
const lang = getLangFromUrl(Astro.url)
---

<header class="container flex flex-col gap-4 pt-8 pb-16 sm:pb-28 lg:gap-36 lg:pt-16 xl:pt-28">
	<div class="flex flex-col gap-8 sm:gap-10 lg:gap-14">
		<div class="flex flex-col gap-4 lg:gap-8 xl:gap-14">
			<div class="text-sm font-light tracking-widest uppercase sm:text-xl">
				<span>{i18n.hero.name.first}</span>
				<span>{i18n.hero.name.middle}</span>
				<span class="font-bold">{i18n.hero.name.last}</span>
			</div>
			<h1
				class="text-start text-[clamp(4.25rem,9vw,10rem)] leading-[.85em] font-semibold lg:leading-[.8em]"
			>
				<span class="tracking-tightest block">{i18n.hero.h1['1']}</span>
				<span class="inline-block tracking-tight">{i18n.hero.h1['2']}</span>
				<span class="tracking-tightest inline-block">{i18n.hero.h1['3']}</span>
			</h1>
		</div>
		<p class="max-w-prose text-base leading-7 text-stone-600 lg:text-lg dark:text-stone-500">
			{i18n.hero.p}
		</p>
		<div class="flex flex-row flex-wrap gap-3 font-medium">
			<a
				href={`mailto:${i18n.metadata.email}`}
				class="flex min-w-32 grow items-center justify-center border border-solid border-stone-900 bg-stone-900 px-4 py-3 text-center text-xs tracking-widest text-stone-100 uppercase sm:text-base md:min-w-56 md:grow-0 dark:border-stone-400 dark:bg-stone-400 dark:text-stone-950"
			>
				{i18n.hero.cta.contact}
			</a>
			<a
				href=`/${lang}/#projects`
				class="flex min-w-32 grow items-center justify-center border border-solid border-stone-900 bg-stone-100 px-4 py-3 text-center text-xs tracking-widest text-stone-900 uppercase sm:text-base md:min-w-56 md:grow-0 dark:border-stone-400 dark:bg-stone-950 dark:text-stone-400"
			>
				{i18n.hero.cta.work}
			</a>
		</div>
	</div>
	<aside class="flex flex-col gap-1 py-2 font-normal md:flex-row md:justify-between">
		<p
			class="flex items-center justify-end gap-2 text-xs font-medium text-stone-600 before:size-4 before:rounded-full before:bg-lime-500 sm:text-base md:justify-start dark:text-stone-500"
		>
			{i18n.hero.aside.availableFor}
		</p>
		<a
			href={`mailto:${i18n.metadata.email}`}
			class="text-end text-xs leading-none text-stone-400 hover:text-stone-900 focus:text-stone-950 sm:text-base md:-mt-36 md:text-start md:[writing-mode:vertical-lr] lg:-mt-64 dark:text-stone-700 dark:hover:text-stone-300 dark:focus:text-stone-200"
			>{i18n.metadata.email}</a
		>
	</aside>
</header>
