---
import type { CollectionEntry } from 'astro:content'

interface Props {
	project: CollectionEntry<'project'>
}

const { data, slug } = Astro.props.project

const [, projectSlug] = slug.split('/')
---

<article class="flex flex-col gap-4">
	<a href={`projects/${projectSlug}`}>
		<img
			src={data.img}
			alt={data.img_alt || ''}
			loading="lazy"
			decoding="async"
			class="aspect-video size-full object-cover"
			transition:name={`${projectSlug}-hero-img`}
		/>
		<div class="flex flex-row justify-between text-xl font-bold">
			<div class="capitalize">
				<span>{data.title}</span>
				<span class="font-light">{data.role}</span>
			</div>
			<div class="uppercase">{data.period}</div>
		</div>
	</a>
</article>
