---
import type { CollectionEntry } from 'astro:content'

interface Props {
	project: CollectionEntry<'project'>
}

const { data, slug } = Astro.props.project

const [, projectSlug] = slug.split('/')
---

<article>
	<a href={`projects/${projectSlug}`} class="flex flex-col gap-2 lg:gap-3">
		<div
			transition:name={`${projectSlug}-hero-img`}
			class="w-full overflow-hidden rounded-[.5rem] border-5 border-stone-500/20 shadow-xl outline-1 outline-stone-950/25 md:rounded-[1rem] md:border-6 xl:mt-24 xl:rounded-[1.5rem] xl:border-7 dark:border-stone-900/20 dark:outline-stone-100/5"
		>
			<img
				src={data.img}
				alt={data.img_alt || ''}
				loading="lazy"
				decoding="async"
				class="aspect-video size-full object-cover"
			/>
		</div>

		<div
			class="flex justify-between text-base leading-4 font-semibold tracking-tight sm:text-lg sm:leading-5 xl:text-xl xl:leading-6"
		>
			<div class="flex-1 capitalize">
				<span
					transition:name={`${projectSlug}-title`}
					class="mb-1 block sm:mb-0 sm:inline lg:block xl:inline">{data.title}</span
				>
				<span transition:name={`${projectSlug}-type`} class="font-light">{data.type}</span>
			</div>
			<div
				transition:name={`${projectSlug}-period`}
				class="flex-shrink-0 text-end whitespace-nowrap uppercase"
			>
				{data.period}
			</div>
		</div>
	</a>
</article>
