---
import Icon from '../icons/Icon.astro'
import { getLangFromUrl, useTranslations } from '../../i18n/utils'
import NavMenuItems from './NavMenuItems.astro'
import NavMenuFooter from './NavMenuFooter.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
	{ label: t('nav.projects'), href: `/${lang}/#projects` },
	{ label: t('nav.experience'), href: `/${lang}/#experience` },
	{ label: t('nav.workflow'), href: `/${lang}/#workflow` },
	{ label: t('nav.about'), href: `/${lang}/#about` },
	{ label: t('nav.contact'), href: `/${lang}/#contact` }
]
---

<nav
	class="font-brand lg:grid-cols-nav relative z-50 container py-6 font-medium sm:py-12 lg:grid lg:items-center lg:gap-24 xl:gap-28"
>
	<div class="flex justify-between gap-2 lg:p-0">
		<a href=`/${lang}/` class="flex items-center gap-2 text-5xl font-black lowercase">
			{t('nav.brand')}
		</a>
		<menu-button class="flex items-center">
			<template>
				<button
					class="relative flex border-0 p-0 text-2xl hover:text-stone-800 focus:text-stone-950 aria-expanded:text-stone-500 dark:hover:text-stone-400 dark:focus:text-stone-300 dark:aria-expanded:text-stone-700 [&[hidden]]:hidden"
					aria-expanded="false"
				>
					<span class="sr-only">Menu</span>
					<Icon icon="list" />
				</button>
			</template>
		</menu-button>
	</div>
	<div class="absolute inset-x-0 lg:contents">
		<noscript>
			<NavMenuItems links={textLinks} />
		</noscript>
		<noscript>
			<NavMenuFooter noScript />
		</noscript>
	</div>
	<div id="menu-content-js" class="absolute inset-x-0 lg:[&.js-enabled]:contents" hidden>
		<NavMenuItems links={textLinks} />
		<NavMenuFooter />
	</div>
</nav>

<script>
	class MenuButton extends HTMLElement {
		constructor() {
			super()

			// Inject menu toggle button when JS runs.
			this.appendChild(this.querySelector('template')!.content.cloneNode(true))
			const btn = this.querySelector('button')!

			// Hide menu (shown by default to support no-JS browsers).
			const menuContent = document.getElementById('menu-content-js')!
			menuContent.hidden = true
			// Add "js-enabled" class in JS to avoid covering content in non-JS browsers.
			menuContent.classList.add('js-enabled')

			/** Set whether the menu is currently expanded or collapsed. */
			const setExpanded = (expand: boolean) => {
				btn.setAttribute('aria-expanded', expand ? 'true' : 'false')
				menuContent.hidden = !expand
			}

			// Toggle menu visibility when the menu button is clicked.
			btn.addEventListener('click', () => setExpanded(menuContent.hidden))

			// Hide menu button for large screens.
			const handleViewports = (e: MediaQueryList | MediaQueryListEvent) => {
				setExpanded(e.matches)
				btn.hidden = e.matches
			}
			const mediaQueries = window.matchMedia('(min-width: 1024px)')
			handleViewports(mediaQueries)
			mediaQueries.addEventListener('change', handleViewports)
		}
	}
	customElements.define('menu-button', MenuButton)
</script>
